.App {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 50px;
  background-color: white;
}

.margined {
  padding: 0px 200px;
}

.ant-pagination-item-link {
  background-image: none !important;
}

.input-size {
  width: 938px;
}

.loading__card {
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding-right: 5px;
  margin: 0px;
  font-family:Inter UI;
  display: flex;
}

.unloaded__movie__list {
    display: flex !important;
    width: 100vw;
    height: 80vh;
    justify-content: space-around;
    padding: 0;
    align-items: center;
    display: flex;
}