.movie__card {
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    padding: 0px;
    margin: 0px;
    min-width: 454px;
    max-width: 454px;
    min-height: 281px;
    max-height: 279px;
    display: flex;

    box-shadow: 0px 0px 2cap rgba(0, 0, 0, 0.15);
}
.card__image {
    min-height: 281px;
    min-width: 183px;
    max-width: 183px;
    max-height: 281px;
    margin-right: 5px;

}

.card__name {
    font-size: 20px;
    text-align: left;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 28px;
    font-weight: 500;
}

.card__time {
    color: #827E7E;

}

.card__theme {
    height: auto;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    width:80%;
    gap: 10px
}

.card__theme li {
    font-size: small;
    border: 1px solid rgba(158, 158, 158, 0.623);
    border-radius: 5px;
    padding: 2px 4px 4px 4px;
    height: 14px;
    text-align: center;
}

.card__info {
    /* align-items: start; */
    display: flex;
    flex-direction: column;
    margin: 10px 5px 10px 5px;
    justify-content: space-between
}
    
.movie__info {
    max-width: 271px;
    max-height: 281px;
    overflow: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    line-height: 22px;
    text-align: left;    
}

.card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CardRate {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .movie__card {
      max-width: 90vw;
      margin: 10px;
      height: auto;
      display: flex;
    }
    .card__image {

    }
  }

