.movie__list {
  width: 938px;
  align-self: center;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px
}

@media (max-width: 768px) {
    .movie__list {
      grid-template-columns: 1fr;
      gap: 1vw;
    }
  }